<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">	
		  <p>&copy 2021-2022 NanoBioMembrane Lab @ BUAA.</p>
		  <p>Address: 37# College Road, Haidian District, Beijing, P.R. China.</p>
		  <p>  </p><p>
                </div>
		<div class="col-sm-6">
		  Geographical Visitors: <br />
                  <script type="text/javascript" src="//rf.revolvermaps.com/0/0/3.js?i=5u1uq17wbjk&amp;b=0&amp;s=40&amp;m=2&amp;cl=ffffff&amp;co=010020&amp;cd=aa0000&amp;v0=60&amp;v1=60&amp;r=1" async="async"></script>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
