<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">	
		  <p>&copy 2021~now NanoBioMembrane Lab @ BUAA.</p>
		  <p>Address: Room 212-5 (Buliding #5), 37# College Road, Haidian District, Beijing, P.R. China.</p>
		  <p>  </p><p>
                </div>
		<div class="col-sm-6">
		  Geographical Visitors: <br />
		  <div style="height: 50px;width: 300px;margin-left: 40px;">
                  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=YVI0mcF0tX_XBfPepxIEEER025hJ6RKx0DvXtZL7RJg&cl=ffffff&w=a"></script>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
